$utilities: map-merge(
  $utilities,
  (
    "position": map-merge(
      map-get($utilities, "position"),
      (
        responsive: true
      ),
    ),
    "translate-middle": map-merge(
      map-get($utilities,"translate-middle"),
      (
        responsive: true,
        values: (
          none: none,
          null: translate(-50%, -50%),
            x: translateX(-50%),
            y: translateY(-50%),
        )
      )
    ),
    "width": map-merge(
      map-get($utilities,"width"),
      (
        responsive: true,
      )
    ),
    "font-size": map-merge(
      map-get($utilities,"font-size"),
      (
        responsive: true,
      )
    ),
    "color": map-merge(
      map-get($utilities,"color"),
      (
        responsive: true,
      )
    ),
    "viewport-height": map-merge(
      map-get($utilities,"viewport-height"),
      (
        values: (
          25: 25vh,
          50: 50vh,
          75: 75vh,
          100: 100vh,
        )
      )
    ),
    "overflow": map-merge(
      map-get($utilities,"overflow"),
      (
        responsive: true,
      )
    ),
    "transition-duration": (
      property: transition-duration,
      class: transition-duration,
      values: (
        1: .2s,
      ),
    ),
  )
);




img{
  max-width: 100%;
  height: auto;
  object-fit: center;
}




.bg-cover{
  background-size: cover;
  background-position: center center;
}

.img-cover{
  object-fit: center;
  object-position: center center;
}

.z-index-m-1{
  z-index: -1;
}
.z-index-0{
  z-index: 0;
}
.z-index-1{
  z-index: 1;
}

.parallax {
  background-attachment: fixed;
}

.transition-all-1{
  transition: all 1s;
}

.p-44{
  padding: 44px;
}

.mt-n88{
  margin-top: -88px;
}