$utilities: map-merge(
  $utilities,
  (
    "position": map-merge(
      map-get($utilities, "position"),
      (
        responsive: true
      ),
    ),
    "translate-middle": map-merge(
      map-get($utilities,"translate-middle"),
      (
        responsive: true,
      )
    ),
    "width": map-merge(
      map-get($utilities,"width"),
      (
        responsive: true,
      )
    ),
    "overflow": map-merge(
      map-get($utilities,"overflow"),
      (
        responsive: true,
      )
    ),
    "font-size": map-merge(
      map-get($utilities,"font-size"),
      (
        responsive: true,
      )
    ),
    "transition-duration": (
      property: transition-duration,
      class: transition-duration,
      values: (
        1: .2s,
      ),
    ),
  )
);









.bg-cover{
  background-size: cover;
  background-position: center center;
}

.img-cover{
  object-fit: center;
  object-position: center center;
}